---
import PostList from '@/components/PostList.astro'
import TagList from '@/components/TagList.astro'
import { allLocales } from '@/config'
import { getTagPath } from '@/i18n/path'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag, getTagSupportedLangs } from '@/utils/content'
import { normalizePath } from '@/utils/path'

export async function getStaticPaths() {
  type PathItem = {
    params: { tags_tag: string }
    props: { tag: string, lang: string }
  }

  const paths: PathItem[] = []

  for (const lang of allLocales) {
    const langTags = await getAllTags(lang)
    langTags.forEach((tag: string) => {
      paths.push({
        params: { tags_tag: normalizePath(getTagPath(tag, lang)) },
        props: { tag, lang },
      })
    })
  }

  return paths
}

const { tag, lang } = Astro.props
const posts = await getPostsByTag(tag, lang)
const allTags = await getAllTags(lang)
const supportedLangs = await getTagSupportedLangs(tag)
---

<Layout supportedLangs={supportedLangs}>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Tag List -->
  <TagList
    tags={allTags}
    currentTag={tag}
    lang={lang}
  />

  <!-- Posts List -->
  <div class="mt-10.5">
    <PostList
      posts={posts}
      lang={lang}
    />
  </div>
</Layout>
